/* General */

* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url(background.jpg);
	background-size: auto;
}

.title {
	width: 80%;
	margin: 50px auto;
	padding: 15px;
	text-align: center;
	background-color: rgb(150, 75, 140);
	color: rgb(255, 255, 255);
	border-radius: 20px;
}

/* Navbar */

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(150, 75, 140);
}

li {
	float: left;
}

li a {
	display: block;
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: rgb(100, 25, 90);
}

/* About Us */

#about-us {
	width: 80%;
	margin: 20px auto;
	padding: 15px;
	text-align: center;
	background-color: rgb(150, 75, 140);
	color: rgb(255, 255, 255);
	border-radius: 20px;
}

/* Menu */

.menu-table {
	width: 80%;
	margin: auto;
	padding: 15px;
	text-align: center;
	background-color: rgb(150, 75, 140);
	color: rgb(255, 255, 255);
	border-radius: 20px;
}

.menu-table table {
	width: 100%;
	border-collapse: collapse;
}

.menu-table table th, .menu-table table td {
	border: 1px solid rgb(255, 255, 255);
	padding: 10px;
	margin: 0px;
	text-align: left;
}

/* Form */

.form-box {
	width: 20%;
	margin: 50px auto;
	padding: 15px;
	background-color: rgb(150, 75, 140);
	color: rgb(255, 255, 255);
	border-radius: 20px;
}
			
.form-box h2 {
	text-align: center;
}

form {
	text-align: left;
}
			
input[type="text"]:hover, input[type="email"]:hover, textarea:hover {
	background-color: rgb(255, 215, 0);
	color: rgb(0, 0, 0);
}
			
input[type="submit"] {
	width: 60px;
	height: 40px;
	border-radius: 10px;
}
